<!doctype html>
<html lang="en" data-ng-app="ToDoApp">
<head>
	<meta charset="UTF-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="ngStorage.js"></script><!-- included angularjs ngStorage module that makes local storage simple to use-->
    <script type="text/javascript" src="angular-messages.js"></script>
	<script type="text/javascript" src="modules/todo.js"></script>
	<title>Much ToDo About Nothing</title>

    <!-- code reused/adapted from
    	example on angularjs.org 
    	https://www.youtube.com/watch?v=FSOiVprDdj0 (John Maddalone Create a ToDo app)
    	http://steinbring.net/2014/angularjs-exploring-ng-options-ng-model-and-the-ngstorage-module/
    	http://stackoverflow.com/questions/16884544/javascript-splice-function-inside-foreach-loop-decrements-index
    	http://www.yearofmoo.com/2014/09/taming-forms-in-angularjs-1-3.html-->

    
    <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link  href="todo.css" rel="stylesheet">

	
</head>
<body>

<div class="container" data-ng-controller="TodoController"><!--ng-cloak hides the flash of javascript when the page loads -->



	<h2>
		<ng-pluralize count="remaining()" when="{ 0: 'Anything to do?', 1: ' just one thing to do...', other: '{} things to do' }"></ng-pluralize>
	</h2>

	<form name="todoForm" ng-submit="addTodo()" class="css-form" novalidate >


		<div ng-show="todoForm.new.$touched"><div ng-show="todoForm.new.$error.required">Add Your Item Below...</div></div><!--message appears if user clicks anywhere without entering a todo-->	

		<input type="text"I class="newInput" name="new" placeholder="start typing..." autofocus data-ng-model="newTodo" required=""/>

		<br>

		<!--show priority level buttons when the 'new' input form has input-->	
		<div class="animate-show" ng-show="todoForm.new.$dirty">
			<h4>How important is {{newTodo}} ? </h4>


		
			<input type="radio" name="nb" ng-model="currentTodo.importance" value="very" required>Very</input>
			<input type="radio" name="nb" ng-model="currentTodo.importance"value="quite" required>Quite</input>
			<input type="radio" name="nb" ng-model="currentTodo.importance"value="meh" required>Meh</input>
		</div>
  		

		
		<button type="submit" class="btn btn-success" data-ng-disabled="todoForm.$invalid"  >Add To List</button><!--disables form if form not valid-->
 
	</form>
	
	 
	<ul>
		<li data-ng-repeat="currentTodo in $storage.todo">			
			<input type="checkbox" data-ng-model="currentTodo.done"/> <span ng-class="{'done':currentTodo.done}" >{{currentTodo.title}}. This Item is {{currentTodo.importance}} important.</span>
	    </li>		
	    	
	</ul>
 <button type="button"  class="btn btn-danger" ng-click="deleteDone()">Delete Completed <br/>for Evah!</button>

add local storage partial faq

	
						
</div>



<!--


jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
